<ol class="breadcrumb">
    <li><%= link_to "Categories", categories_path %>
    <li><%= link_to @cat.title, @cat %>
    <li class="active"><%= @topic.title %>
</ol>
<div class="page-header">
    <h1>Topic: <%= @topic.title %></h1>
</div>
<div style="margin-bottom: 20px">
    <%= link_to 'New Post', [:new, @cat, @topic, :post], :class => 'btn btn-default' %>
    <%= link_to 'Edit Topic', [:edit, @cat, @topic], :class => 'btn btn-default' %>
</div>
<div class="well">
    <div class="row">
        <div class="col-lg-3">
            <%= @user.display_name %>
        </div>
        <div class="col-lg-9">
            <%= @topic.body %>
        </div>
    </div>
</div>
<table class="table">
    <% @posts.each do |post| 
        user = User.find(post.user_id) %>
        <tr>
            <td><%= user.display_name %></td>
            <td><%= post.body %></td>
        </tr>
    <% end %>
</table>
