<%= render 'partials/alerts' %>

<ol class="breadcrumb">
    <li><%= link_to "Categories", categories_path %>
    <li><%= link_to @cat.title, @cat %>
    <li class="active"><%= @topic.title %>
</ol>
<div class="page-header">
    <h1><%= @topic.title %></h1>
</div>

<%= render 'actions_block' %>

<%= render 'topics/body', :topic => @topic %>

<% @posts.each do |post| %>
    <%= render 'posts/post', :post => post %>
<% end %>

<%= render 'actions_block' %>
