<%
    # Required local variables
    # :all => all_model_records
    # :some => the_kaminari_active_record_relation
    #
    # Optional local variables
    # :name => model_name (singular name)
    # :styles => "any css styles here"
    # :classes => "any classes here"
    # :per => per_amount (useful if combining arrays and offset is unknown)
    #
    # ex. Controller
    # @all_posts = Post.all.order('created_at') (This could be a where statement as well)
    # @posts = @all_posts.page(params[:page]).per(5)
    #
    # ex. View
    # render 'partials/pagination', :all => @all_posts, :some => @posts, :name => :post

    name ||= 'record'
    name = pluralize(all.length, name.to_s)
    offset = (defined?(some.values) && some.values[:offset]) || (params[:page].to_i * per.to_i)
    length = some.length
%>
<div class="pagination-block <%= classes ||= '' %>" style="<%= styles ||= '' %>">
    <div class="pull-right"><%= paginate some %></div>
    <div class="pull-right" style="padding-right: 20px; line-height: 34px">
        Showing <%= length == 0 ? 0 : offset + 1 %> - <%= length + offset %> of <%= name %>
    </div>
</div>
