<%
    # Required parameters
    # :post => a_post_record
    #

    user = post.user
    topic = post.topic
%>
<div class="panel panel-default user-post-block">
    <div class="panel-heading">
        <%= link_to topic.title, [topic.category, topic] %> |
        <%= user.display_name %> <small><%= time_ago_in_words post.created_at %> ago</small>
        <span class="subtle-text pull-right">Post</span>
    </div>
    <div class="panel-body">
        <%= post.body %>
        <% if post.created_at != post.updated_at %>
            <br />
            <strong>Edited <%= time_ago_in_words post.updated_at %> ago</strong>
        <% end %>
    </div>
</div>
