<div class="page-header">
    <h1>Forgot your password?</h1>
</div>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), 
             :html => { :method => :post, :class => 'form-horizontal', :role => 'form' }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
        <%= f.label :email, :class => "col-lg-2 col-md-2 col-sm-2 control-label" %>
        <div class="col-lg-10 col-md-10 col-sm-10">
            <%= f.email_field :email, :class => "form-control", :placeholder => "Email", :autofocus => true %>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-lg-10 col-md-10 col-sm-10">
            <button type="submit" class="btn btn-primary">Send me reset password instructions</button>
            <%= link_to "Cancel", :back, :class => "btn btn-default" %>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-lg-10 col-md-10 col-sm-10">
            <%= render "devise/shared/links" %>
        </div>
    </div>
<% end %>

