<% if @is_admin %>
    <%= link_to "New Category", new_category_path, :class => 'btn btn-default', :style => 'margin-bottom: 20px' %>
<% end %>
<% if flash[:alert] %>
    <div class="alert alert-warning"><%= flash[:alert] %></div>
<% end %>
<table class="table">
    <tr>
        <th></th>
        <th>Title</th>
        <th>Description</th>
        <th>Created</th>
    </tr>
    <% @cats.each_with_index do |cat, index| %>
        <tr>
            <td><%= index + 1 %></td>
            <td><%= link_to cat.title, category_path(cat) %></td>
            <td><%= cat.description %></td>
            <td><%= cat.created_at %></td>
        </tr>
    <% end %>
</table>
