<ol class="breadcrumb">
    <li><%= link_to "Categories", categories_path %>
    <li class="active"><%= @cat.title %>
</ol>
<div style="margin-bottom: 20px;">
    <% if user_signed_in? %>
        <%= link_to "New Topic", [:new, @cat, :topic], :class => 'btn btn-default' %>
    <% end %>
    <% if @is_admin %>
        <%= link_to "Edit Category", [:edit, @cat], :class => 'btn btn-default' %>
        <%= link_to "Delete Category", @cat, method: :delete, :data => { :confirm => "Are you sure?" }, :class => 'btn btn-danger pull-right' %>
    <% end %>
</div>
<table class="table">
    <tr>
        <th></th>
        <th>Title</th>
        <th>Posts</th>
        <th>Owner</th>
        <th>Created</th>
    </tr>
    <% @cat.topics.each_with_index do |topic, index| %>
        <tr>
            <%
                user = User.find(topic.user_id)
                is_owner = user_signed_in? && current_user.id == user.id
            %>
            <td><%= index + 1 %></td>
            <td><%= link_to topic.title, [@cat, topic] %></td>
            <td><%= Post.where("topic_id = ?", @cat.id.to_s).length %></td>
            <td><%= link_to user.display_name, user_path(user) %></td>
            <td><%= topic.created_at %></td>
        </tr>
    <% end %>
</table>
