<h1>Category: <%= @cat.title %></h1>
<ul>
    <li><%= link_to "All Categories", categories_path %>
    <li><%= link_to "Edit Category", edit_category_path %>
    <li><%= link_to "Delete Category", category_path, method: :delete, data: { confirm: "Are you sure?" } %>
</ul>
<dl>
    <dt>Id</dt>
        <dd><%= @cat.id %></dd>
    <dt>Title</dt>
        <dd><%= @cat.title %></dd>
    <dt>Description</dt>
        <dd><%= @cat.description %></dd>
    <dt>Created</dt>
        <dd><%= @cat.created_at %></dd>
    <dt>Updated</dt>
        <dd><%= @cat.updated_at %></dd>
</dl>

<h2>Threads</h2>
<ul>
    <li><%= link_to "New Thread", [:new, @cat, :topic] %>
</ul>
<table class="table">
    <tr>
        <th></th>
        <th>Title</th>
        <th>Posts</th>
        <th>Created</th>
        <th>Actions</th>
    </tr>
    <% @cat.topics.each_with_index do |topic, index| %>
        <tr>
            <td><%= index + 1 %></td>
            <td><%= link_to topic.title, [@cat, topic] %></td>
            <td>0</td>
            <td><%= topic.created_at %></td>
            <td>
                <%= link_to "Edit", [:edit, @cat, topic] %>
                <%= link_to "Delete", [@cat, topic], method: :delete, data: { confirm: "Are you sure?" } %>
            </td>
        </tr>
    <% end %>
</table>
