<!DOCTYPE html>
<html>
    <head>
        <title>SimpleForum</title>
        <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <ul class="nav navbar-nav navbar-right">
                <% if user_signed_in? %>
                    <li><a href=""><%= current_user.email %></a></li>
                <% else %>
                    <li><a href="#">Signup / Register</a></li>
                <% end %>
            </ul>
        </nav>
        <div class="container">
            <%= yield %>
        </div>
    </body>
</html>
